<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="app">
		<input v-model="name" type="text" name="" placeholder="nombre">
		<input v-model="lastname" type="text" name="" placeholder="apellido">
		<input v-model="email" type="text" name="" placeholder="email">
		<input v-model="password" type="text" name="" placeholder="password">
		<button v-on:click="addTeacher">Registrar</button>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/register.js"></script>
</body>
</html>