<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My socrative</title>
    <link rel="stylesheet" type="text/css" href="css/estilosStudent.css">
</head>
<body>
    <header>
        <h1>My Socrative</h1>
    </header>
    <div id="app">
        <div id="formLogin" v-if="!status">
            <div id="containerTxtKeyConnected">
                <label>Clave de sala</label>
                <input class="txtKeyConnected" v-model="key" type="text" name="txtKey" placeholder="Ingrese el codigo de la sala">
                <br><br>
                <label>Nombre de usuario</label>
                <input class="txtKeyConnected" v-model="nameUser" type="text" name="txtNameUser" placeholder="Ingrese su nombre de usuario">
            </div>
            <button id="btnEnterKey" v-on:click="connect">Conectar</button>
        </div>

        <form v-if="status ==='connected'" id="todo">
            <h2>{{ survey.nameQuiz }} </h2>
            <br>
            <div class="cuadrado" v-for="question in survey.optionMultiple" id="">
                <h5><b>Pregunta: </b>{{ question.textQuestion }} </h5>
                <fieldset>
                    <h6>Elige una respuesta</h6>
                    <q-option1 v-for="opt in question.options" :key="opt.idOption" v-bind:opcion="opt" v-bind:groupid="question.idQuestionOptionMultiple"></q-option1>
                </fieldset>
            </div>
                    
            <div class="cuadrado" v-for="question in survey.optionTrueFalse" id="">
                <h5>{{ question.textQuestion }} </h5>
                <fieldset>
                    <h6>Elige una respuesta</h6>
                    <q-option2 v-bind:groupid="100 + question.idQuestionTrueFalse"></q-option2>
                </fieldset>
            </div>
                    
            <div class="cuadrado" v-for="question in survey.optionShortAnswer" id="">
                <h5>{{ question.textQuestion }} </h5>
                <fieldset>
                    <h6>Ingrese su respuesta</h6>
                    <q-option3 v-bind:groupid="question.idQuestionShortAnswer"></q-option3>
                </fieldset>
            </div>
            <br>
            <button id="btnSaveAllQuiz" type="button" name="button" v-on:click="saveAnswer">Enviar Respuesta</button>
        </form>
        <!--
        <pre>
            {{ $data }}
        </pre>
        -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/student.js"></script>
</body>
</html>